* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

:root{
    --background3: #042B44;
    --background2: #096B90;
    --background1: #A1CCDC;
    --text: #fff;
    --text2: #ff0000;
    --ggs: 1;
    --text-size: 1.75rem;
    --text-header1: 12vh;
    --text-header2: 6vh;
    --text-header3: 6vh;
    --text-footer: 1rem;
}

body {
    background: -webkit-linear-gradient(var(--background1), var(--background2), var(--background3)); 
    background: -moz-linear-gradient(var(--background1), var(--background2), var(--background3));
    background: -ms-linear-gradient(var(--background1), var(--background2), var(--background3)); 
    background: linear-gradient(var(--background1), var(--background2), var(--background3));
    color: var(--text);
    max-width: 100%;
}
header{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.prof_image {
    max-width: 100%;
    width: 15rem;
    border-radius: 50%;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
}


header h1{
    font-size: var(--text-header1);
    text-align: center;
    margin-top: 5vh;
    overflow: hidden;
}
nav{
    background: var(--background);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    margin: 20px;
    text-align: center;
    font-size: var(--text-header2);
    overflow: hidden;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav ul li {
    position: relative;
    overflow: hidden;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text);
    padding: 10px;
}

nav ul li a:hover {
    color: var(--text2);
    transition: 0.7s;
}

nav ul li a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--text2);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.7s;
}

section {
    margin-top: 10vh;
    max-width: 1400px;
    margin: 10px auto;
    padding: 50px;
}

section h2{
    font-size: var(--text-header2);
    margin-bottom: 20px;
}
section h3{
    font-size: var(--text-header3);
    margin-bottom: 20px;
}
section p, li {
    font-size: var(--text-size);
    margin-bottom: 20px;
}

.title {
    margin: 20px;
    font-size: var(--text-header1);
    text-align: left;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}   

footer {
    margin-top: 10vh;
    padding: 20px;
    text-align: center;
    font-size: var(--text-footer);
}

.icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}
.scroll-down {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow: hidden;
    padding: 10px;
    height: 10vh;
    animation: floatAnimation 2.5s infinite;
    color: white;
    filter: invert(1);
}
@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    :root{
        --text-size: 3vh;
        --text-header1: 8vh;
        --text-header2: 6vh;
        --text-header3: 4vh;
        --text-footer: 1rem;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 2rem;
    }
    
}
.contact-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-item {
    width: 200px;
    height: 200px;
    background-color: #71B7D5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-item img {
    width: 80px; /* Adjust the size of the icon */
    height: auto;
    margin-bottom: 10px;
}

.contact-item span {
    font-size: 16px;
    color: #333;
    text-align: center;
}