* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  max-width: 100%;
  /* user-select: none; */
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color1: #042b44;
  --color2: #096b90;
  --color3: #a1ccdc;
  --color4: #e9afa3;
  --background3: #042b44;
  --background2: #096b90;
  --background1: #a1ccdc;
  --text: #fff;
  --text2: #e9afa3;
  --ggs: 1;
  --text-size: 1.75rem;
  --text-header1: 12vh;
  --text-header2: 6vh;
  --text-header3: 6vh;
  --text-footer: 1rem;
}

body {
  background: -webkit-linear-gradient(
    var(--background1),
    var(--background2),
    var(--background3)
  );
  background: -moz-linear-gradient(
    var(--background1),
    var(--background2),
    var(--background3)
  );
  background: -ms-linear-gradient(
    var(--background1),
    var(--background2),
    var(--background3)
  );
  background: linear-gradient(
    var(--background1),
    var(--background2),
    var(--background3)
  );
  color: var(--text);
  max-width: 100%;
}
header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.prof_image {
  max-width: 100%;
  width: 15rem;
  border-radius: 50%;
  margin-left: 50%;
  margin-right: 50%;
  text-align: center;
}

header h1 {
  font-size: var(--text-header1);
  text-align: center;
  margin-top: 5vh;
  overflow: hidden;
  padding-bottom: 10vh;
  z-index: 10;
}
nav {
  background: var(--background);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
  margin: 20px;
  text-align: center;
  font-size: var(--text-header2);
  overflow: hidden;
  z-index: 10;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

nav ul li {
  position: relative;
  overflow: hidden;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text);
  padding: 10px;
  transition: color 0.7s; /* Add transition property */
}

nav ul li a:hover {
  color: var(--text2);
}

nav ul li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--text2);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.7s; /* Add transition property */
}

section {
  max-width: 1400px;
  margin: 10px auto;
  padding: 50px;
}

section h2 {
  font-size: var(--text-header2);
  margin-bottom: 20px;
}
section h3 {
  font-size: var(--text-header3);
  margin-bottom: 20px;
}
section p,
section ul,
section ol {
  font-size: var(--text-size);
  margin-bottom: 20px;
}
section ul {
  font-size: var(--text-size);
}

.title {
  margin: 20px;
  font-size: var(--text-header1);
  text-align: left;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

footer {
  margin-top: 10vh;
  padding: 20px;
  text-align: center;
  font-size: var(--text-footer);
}

.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}
.scroll-down {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
  height: 10vh;
  animation: floatAnimation 2.5s infinite;
  color: white;
  filter: invert(1);
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --text-size: 3vh;
    --text-header1: 8vh;
    --text-header2: 4.5vh;
    --text-header3: 4vh;
    --text-footer: 1rem;
  }
  header {
    margin-top: 1vh;
  }
  nav {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .scroll-down {
    height: 8vh;
  }
  section {
    padding: 30px;
  }
}
.contact-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-item {
  width: 200px;
  height: 200px;
  background-color: #71b7d5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-item img {
  width: 80px; /* Adjust the size of the icon */
  height: auto;
  margin-bottom: 10px;
}

.contact-item span {
  font-size: 16px;
  color: #333;
  text-align: center;
}

.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  filter: invert(1);
  animation: floatAnimation 2.5s infinite;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.show {
  opacity: 1;
}
#rolling-stones {
  max-width: 100%;
  max-height: 5vh;
  padding-bottom: 5vh;
  font-size: 2em;
  text-align: center;
  color: blue;
  white-space: nowrap;
  max-height: 100vh;
}
#rolling-stones p {
  white-space: nowrap;
  font-size: 1.1em;
  text-align: center;
  color: var(--color2);
  margin: 0;
  line-height: 0;
  &:nth-of-type(5) {
    color: var(--color4);
  }
}

.description {
  margin: 30px;
}
